<!--
  Generated template for the CameraListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Minhas Fotos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngFor="let p of photos; let i = index">
    
    {{i}} 

    <img src="{{p.url}}" alt="{{p.url}}">
    
    <button ion-button (click)="deletePhoto(p,i)">Delete</button>

  </div>

</ion-content>
