<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <!-- Button Sandwiche  -->
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Camera</h3>

  <button ion-button (click)="choosePhoto()">Enviar Foto</button>
  <!-- <img src="{{photo}}" /> -->
  <img src="{{photo}}" *ngIf="photo"/>


  <button ion-button (click)="saveImage()">Salvar</button>

</ion-content>
